<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="/assets/css/footer.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

  <footer class="footer">
  	 <div class="container1">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Nosotros</h4>
  	 			<ul>
  	 				<li><a href="#">Equipo</a></li>
  	 				<li><a href="#">Otros servicios</a></li>
  	 				<li><a href="#">TOS</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Ayuda</h4>
  	 			<ul>
  	 				<li><a href="#">Preguntas frecuentes</a></li>
  	 				<li><a href="#">Devoluciones</a></li>
  	 				<li><a href="#">Estado de compras</a></li>
  	 				<li><a href="#">Opciones de pago</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Tienda</h4>
  	 			<ul>
  	 				<li><a href="#">Servidores</a></li>
  	 				<li><a href="#">Tienda juegos</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>síguenos</h4>
  	 			<div class="social-links">
  	 				<a href="https://discord.gg/BMdVRYudak"><i class="fa-brands fa-discord"></i></a>
  	 				<a href="https://www.instagram.com/novuvitae"><i class="fab fa-instagram"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

</body>