¿<main>
    <div class="slider">
      <div class="item">
        <img src="/assets/src/media/servers/default.webp" loading="eager" alt="">
        <div class='content'>
          <p class='description'> Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
            praesentium nisi. Id laboriosam ipsam enim. </p>
            <button class='read-more' name="arrow-forward-outline"></button>
        </div>
      </div>
      <!-- visibele item -->
      <div class="item">
        <img src="/assets/src/media/servers/minecraft-1106262_1920.png" loading="eager" alt="Nobis Omnis" class="image" />
        <div class='content'>
          <p class='description'> Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
            praesentium nisi. Id laboriosam ipsam enim. </p>
          <button>Read More</button>
        </div>
      </div>
      <div class="item">
        <img src="/assets/src/media/servers/pznv.jpg" loading="eager" alt="Ut Distinctio" class="image" />
        <div class='content'>
          <p class='description'> Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
            praesentium nisi. Id laboriosam ipsam enim. </p>
          <button>Read More</button>
        </div>
      </div>
      <div class='item'>
        <img src="/assets/src/media/servers/default.webp" loading="eager" alt="">
        <div class='content'>
          <p class='description'>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore fuga voluptatum, iure corporis inventore praesentium nisi. Id laboriosam ipsam enim.
          </p>
          <button>Read More</button>
        </div>
      </div>
      <div class="item">
        <img src="/assets/src/media/servers/minecraft-1106262_1920.png" loading="eager" alt="Nobis Omnis" class="image" />
        <div class='content'>
          <p class='description'>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore fuga voluptatum, iure corporis inventore praesentium nisi. Id laboriosam ipsam enim.
          </p>
          <button>Read More</button>
        </div>
      </div>
      <div class="item">
        <img src="/assets/src/media/servers/pznv.jpg" loading="eager" alt="Ut Distinctio" class="image" />
        <div class='content'>
          <p class='description'> Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
            praesentium nisi. Id laboriosam ipsam enim. </p>
            <button class='read-more' name="arrow-forward-outline"></button>
        </div>
      </div>
    </div>
    <nav class='nav'>
      <ion-icon class='btn prev' name="arrow-back-outline"></ion-icon>
      <ion-icon class='btn next' name="arrow-forward-outline"></ion-icon>
    </nav>
  </main>
