<head>
    <link rel="stylesheet" href="/assets/css/home.css">
</head>
<section id="home1" class="home">
    <div>
        <img class="banner-1" src="/assets/src/media/img/banner1.png" alt="Imagen centrada">
        <div class="text-container">
            <p class="typing-text" id="typing-text"></p>
        </div>
    </div>
</section>
<script src="/assets/js/home.js"></script>