<head>
  <link rel="stylesheet" type="text/css" href="/assets/css/servers.css">
</head>
<main>
    <div id="servidores" class="slider">
      <div class="item">
        <img src="/assets/src/media/servers/default.webp" loading="eager" alt="">
        <div class='content'>
          <p class='description'> Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
            praesentium nisi. Id laboriosam ipsam enim. </p>
          <a href="/rusticanv" class="cta">
              <span>Leer más</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            </a>
        </div>
      </div>
      <!-- visibele item -->
      <div class="item">
        <img src="/assets/src/media/servers/minecraft-1106262_1920.png" loading="eager" alt="Nobis Omnis" class="image" />
        <div class='content'>
          <p class='description'> Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
            praesentium nisi. Id laboriosam ipsam enim. </p>
            <a href="/nvcraft" class="cta">
              <span>Leer más</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            </a>
        </div>
      </div>
      <div class="item">
        <img src="/assets/src/media/servers/pznv.jpg" loading="eager" alt="Ut Distinctio" class="image" />
        <div class='content'>
          <p class='description'> Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
            praesentium nisi. Id laboriosam ipsam enim. </p>
          <a href="/projectnv" class="cta">
              <span>Leer más</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            </a>
        </div>
      </div>
      <div class='item'>
        <img src="/assets/src/media/servers/default.webp" loading="eager" alt="">
        <div class='content'>
          <p class='description'>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore fuga voluptatum, iure corporis inventore praesentium nisi. Id laboriosam ipsam enim.
          </p>
          <a href="/rusticanv" class="cta">
              <span>Leer más</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            </a>
        </div>
      </div>
      <div class="item">
        <img src="/assets/src/media/servers/minecraft-1106262_1920.png" loading="eager" alt="Nobis Omnis" class="image" />
        <div class='content'>
          <p class='description'>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore fuga voluptatum, iure corporis inventore praesentium nisi. Id laboriosam ipsam enim.
          </p>
          <a href="/nvcraft" class="cta">
              <span>Leer más</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            </a>
        </div>
      </div>
      <div class="item">
        <img src="/assets/src/media/servers/pznv.jpg" loading="eager" alt="Ut Distinctio" class="image" />
        <div class='content'>
          <p class='description'> Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
            praesentium nisi. Id laboriosam ipsam enim. </p>
          <a href="/projectnv" class="cta">
              <span>Leer más</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            </a>
        </div>
      </div>
    </div>
    <nav class='nav'>
      <ion-icon class='btn prev' name="arrow-back-outline"></ion-icon>
      <ion-icon class='btn next' name="arrow-forward-outline"></ion-icon>
    </nav>
  </main>

  <script src="/assets/js/servers.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
