<head>
    <link rel="stylesheet" href="/assets/css/home.css">
</head>
<section id="home1" class="home">
    <div>
        <img class="banner-1" src="https://cdn.discordapp.com/attachments/1162263699256508467/1162264038378569839/banner1.png?ex=66770cfc&is=6675bb7c&hm=76bf7bf4fad675b7a1dc114cd8cbd37041f8314e703e628dba5ac6347158de75&" alt="Imagen centrada">
        <div class="text-container">
            <p class="typing-text" id="typing-text"></p>
        </div>
    </div>
</section>
<script src="/assets/js/home.js"></script>