<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/craft.css">
    
    <link rel="icon" href="../assets/src/media/servers/nv-minecraft.png">
    <title>| NV-Craft</title>
</head>

<body class="body">
<%- include('../partials/navbar') %>
<section>
    <div class="box01">
        <div class="box02">
            <img class="img-craft" src="../assets/src/media/servers/nv-minecraft.png" alt="NVCraft">
        </div>
        <div class="container-mc">
            <div class="fila">
                <div class="div-box">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore illo id nostrum nulla asperiores dolore distinctio temporibus. Pariatur minus labore, voluptatibus corrupti eum sequi qui corporis? Accusantium magni architecto quod!</p>
                </div>
                <div style="flex: 1;"></div>
            </div>
            <div class="fila">
                <div style="flex: 1;"></div>
                <div class="div-box">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore illo id nostrum nulla asperiores dolore distinctio temporibus. Pariatur minus labore, voluptatibus corrupti eum sequi qui corporis? Accusantium magni architecto quod!</p>
                </div>
            </div>
            <div class="fila">
                <div class="div-box">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore illo id nostrum nulla asperiores dolore distinctio temporibus. Pariatur minus labore, voluptatibus corrupti eum sequi qui corporis? Accusantium magni architecto quod!</p>
                </div>
                <div style="flex: 1;"></div>
            </div>
        </div>
    </div>
    <button class="btn-join">Join Us</button>
</section>
<%- include('../partials/footer') %>
</body>
</html>