<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/craft.css">
</head>
<style>
    body {
    background-image: url('assets/src/media/servers/minecraft-1106262_1920.png');
    background-repeat: no-repeat;
    background-position: contain;
    background-size: cover;
}

.cuadrado {
    width: 800px;           /* Ancho de 150 píxeles */
    height: 180px;          /* Alto de 150 píxeles */
    background: red;        /* Fondo de color rojo */
    border: 1px solid #000; /* Borde color negro y de 1 píxel de grosor */
  }
</style>
<body>
    <div class="cuadrado">

    </div>
</body>