.discord-container1 {
    margin-top: 2%;
    margin-left: 70%;
}

.anuncios-container {

}

.twitch-container {
    margin-top: 3%;
    margin-left: 62%;
}

.instagram-container {
    display: flex;
}