/* Estilos específicos para la sección content-section */
.content-section {
 
  padding: 80px 0; /* Espaciado interno */
  text-align: center; /* Centrado del contenido */
  overflow: hidden; /* Ocultar desbordamiento del contenido */
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.red-box {
  background: linear-gradient(135deg, #8e44ad, #2c3e50); /* Gradiente de color para red-box en tonos morados y negros */
  color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  width: calc(50% - 40px); /* Ancho del 50% con margen */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.red-box:hover {
  transform: translateY(-5px); /* Efecto de levantamiento al pasar el ratón */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada al pasar el ratón */
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.image-wrapper {
  flex: 1 1 300px;
  text-align: center;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.vinilobot {
  width: 200px; /* ajusta el tamaño según tu imagen */
  height: 200px; /* ajusta el tamaño según tu imagen */
  animation: rotate 2s linear infinite; /* ajusta la duración y tipo de animación según necesites */
}

.text-wrapper {
  flex: 1 1 400px;
  text-align: left;
  padding: 20px;
}

.animated-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #8e44ad; /* Color de texto en tono morado */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
}

.animated-button:hover {
  background-color: #8e44ad; /* Cambio de color de fondo al pasar el ratón */
  color: #fff; /* Cambio de color de texto al pasar el ratón */
}

@keyframes animateGradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


/* reproductor */

.player-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transform: translateY(100%);
}

.player-container.active {
  transform: translateY(0);
}

.player-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0070c9;
  color: #fff;
}

.player-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.player-controls button {
  margin: 0 10px;
}

.toggle-button {
  cursor: pointer;
}